@charset "utf-8";

a {
    
    text-decoration: none;
}




.title {

    margin: 0;
    text-align: center;
    max-width: auto;
    background-color: black;

}

    h1{
        color: white;
}

.white{
    color: white;
    text-decoration-color: white;
}


a{
            color: white;
    text-decoration: none;
}


.logo {

    width: 55px;
    float: left;

}


.advert {
max-width: 100%;
    
}






.select {
    
    
    max-width: auto;
    display: -webkit- flex;
    display: -ms- flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

}


.menu {

    text-align: center;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

ul{
    padding: none;
    margin: none;
    float: right;
}


article{
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    
}


.event{
    
    margin-top: 50px;
    max-width: 100%;
    flex:auto;
    margin-left: auto;
    margin-right: auto;
    
}




.articlebox{
    max-width: 200px;
    max-height: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    
}

.gallerybox{
    display: block;
    width: 80%;
    height: 100%;
    max-width: 900px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.center{
    text-align: center;
}

.black{
    background-color: black;
}


.about{
    display: block;
    float:right;
    width: 30%;
    
}

.about2{
    display: block;
    float:left;
    width: 30%;
    
}

.aboutpara{
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.aboutpara2{
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.aboutpara p{
    float: left;
    max-width: 70%;
    margin: none;
}

.aboutpara2 p{
    float: right;
    max-width: 70%;
    margin: none;
}

.big{
    font-size: 25px
}









.articlewriting{
    
   margin-left: 50px;
    
}


footer{
    text-align: center;
}



@media screen and (min-width: 480px) and ( max-width: 1024px){
	body{
		text-align: center;
	}
}